h1{
    color:rgb(27, 144, 180);
    text-align:center;
}
#divheading{
    color:rgba(100, 97, 97, 0.753)
}
.mydiv{
    height:200px;
    width:33%;
    display:inline-block;
}
#hotpink{
    background-color:darkgoldenrod;
}
#skyblue{
    background-color:red
}
#lightgreen{
    background-color:orange
}
.textChange{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#mainDiv{
    background-image: url("food-wallpaper.png");
    height:500px;
    background-repeat: no-repeat;
    background-size:100% 500px;
    color:white;
    font-size: 40px;
    text-align: center;
}

@media screen and (max-width:1600px){
    body{
        background-color: lightgoldenrodyellow;
    }
}

@media screen and (max-width:1400px){
    body{
        background-color: lightgreen
    }
}

@media screen and (max-width:1200px){
    body{
        background-color: skyblue
    }
    #mainDiv{
        font-size: 35px;
    }
    .mydiv{
        width:45%;
    }
}
@media screen and (max-width:1000px){
    body{
        background-color: lightslategray
    }
    #mainDiv{
        font-size: 30px;
    }
    .mydiv{
        width:45%;
    }
}
@media screen and (max-width:800px){
    body{
        background-color: lightpink
    }
    .mydiv{
        width:100%;
    }
}
@media screen and (max-width:600px){
    body{
        background-color: lightseagreen
    }

    #mainDiv{
        font-size: 25px;
    }

    .mydiv{
        width:100%;
    }
}
